<!DOCTYPE html>
<html>
<head>
	<title>Update Campus of Existing User</title>
</head>
<body>
	<form action="/updatedcampus" method="POST">
		<input type="text" name="name" placeholder="Name">
		<input type="text" name="newcampus" placeholder="NewCampus">
		<button type="submit">Save</button>
	</form>
</body>
</html>